{{ define "main" }}

<div class="cw">

    <div class="atelier-wrapper">
        <h1>{{ .Title }}</h1>
        
        <div class="atelier-photos">
            <picture class="atelier-photos--1">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400/v1752833292/NAO_250415_atelier_220.jpg" media="(max-width: 400px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620/v1752833292/NAO_250415_atelier_220.jpg" media="(max-width: 620px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_900/v1752833292/NAO_250415_atelier_220.jpg" media="(max-width: 900px)">
                <img class="observed" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240/v1752833292/NAO_250415_atelier_220.jpg" alt="Photo de l'atelier" width="1240" height="827">
            </picture>
            <picture class="atelier-photos--2">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400/v1756904878/NAO_250814_637web.jpg" media="(max-width: 400px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620/v1756904878/NAO_250814_637web.jpg" media="(max-width: 620px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_900/v1756904878/NAO_250814_637web.jpg" media="(max-width: 900px)">
                <img class="observed" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240/v1756904878/NAO_250814_637web.jpg" alt="Photo de l'atelier" width="1240" height="827">
            </picture>
            <div class="atelier-photos-txt atelier-photos-txt--1">
                <p>Nous travaillons directement avec les <strong>clients privés, publics et les architectes</strong> en assurant le cas échéant le rôle de coordination de plusieurs intervenants et/ou sous-traitants.</p>
                <p>L'évolution du meuble se fait en articulation permanente entre l’<strong>atelier de réalisation</strong> et le <strong>bureau de conception</strong>.</p>
            </div>
            <picture class="atelier-photos--3">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400/v1757597657/NAO_250814_625-1.jpg" media="(max-width: 400px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620/v1757597657/NAO_250814_625-1.jpg" media="(max-width: 620px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_900/v1757597657/NAO_250814_625-1.jpg" media="(max-width: 900px)">
                <img class="observed" loading="lazy" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240/v1757597657/NAO_250814_625-1.jpg" alt="Photo du bureau de conception" width="1240" height="827">
            </picture>
            <picture class="atelier-photos--4">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400/v1757597580/NAO_250610_atelier_543_Rogn%C3%A9.jpg" media="(max-width: 400px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620/v1757597580/NAO_250610_atelier_543_Rogn%C3%A9.jpg" media="(max-width: 620px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_900/v1757597580/NAO_250610_atelier_543_Rogn%C3%A9.jpg" media="(max-width: 900px)">
                <img class="observed" loading="lazy" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240/v1757597580/NAO_250610_atelier_543_Rogn%C3%A9.jpg" alt="Photo de la salle de réunion" width="1240" height="827">
            </picture>
            <div class="atelier-photos-txt atelier-photos-txt--2 observed">
                <p>Notre bureau de conception développe tous les plans de fabrication pour chaque projet.
                Après analyse des plans de fabrication, chaque artisan de notre équipe a la charge du projet dans son ensemble de A à Z.
                Il réalise alors le prémontage des meubles, qui est une étape majeure dans notre production.
                Votre projet est ainsi monté et assemblé dans son entièreté en atelier afin de garantir la maitrise et la qualité de notre mobilier.</p>
                <p>Du premier débit au placement, en ce compris les finitions, chaque personne est responsable de son propre chantier.
                Par son implication, ce principe du même intervenant garanti un résultat optimal à votre projet.</p>
            </div>
        </div>
    
        <div class="team">
            <h2>L'équipe</h2>
            {{ range .Params.team_members_one }}
                <div class="team-member observed">
                    <div class="team-member__img-wrapper">
                        <picture class="team-member__main-img">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400{{ .img }}" media="(max-width: 400px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ .img }}" media="(max-width: 620px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_768{{ .img }}" media="(max-width: 768px)">
                            <img src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240{{ .img }}" alt="" width="1240" height="1240" loading="lazy">
                        </picture>
                        <picture class="team-member__secondary-img">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400{{ .img_bis }}" media="(max-width: 400px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ .img_bis }}" media="(max-width: 620px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_768{{ .img_bis }}" media="(max-width: 768px)">
                            <img src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240{{ .img_bis }}" alt="" width="1240" height="1240" loading="lazy">
                        </picture>
                    </div>
                    <h3><strong>{{ .firstname }}</strong> {{ .lastname}}</h3>
                </div>
            {{ end }}
        </div>
        <div class="team">
            {{ range .Params.team_members_two }}
                <div class="team-member observed">
                    <div class="team-member__img-wrapper">
                        <picture class="team-member__main-img">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400{{ .img }}" media="(max-width: 400px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ .img }}" media="(max-width: 620px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_768{{ .img }}" media="(max-width: 768px)">
                            <img src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240{{ .img }}" alt="" width="1240" height="1240" loading="lazy">
                        </picture>
                        <picture class="team-member__secondary-img">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400{{ .img_bis }}" media="(max-width: 400px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ .img_bis }}" media="(max-width: 620px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_768{{ .img_bis }}" media="(max-width: 768px)">
                            <img src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_1240{{ .img_bis }}" alt="" width="1240" height="1240" loading="lazy">
                        </picture>
                    </div>
                    <h3><strong>{{ .firstname }}</strong> {{ .lastname}}</h3>
                </div>
            {{ end }}
        </div>
    
    </div>
    
</div>


{{ end }}