{{/* split url */}}
{{ $link_ext := split .Destination "." }}
{{/* find index of last "." */}}
{{ $link_ext_index := sub (len $link_ext) 1 }}
{{/* find link extension */}}
{{ $link_ext := index $link_ext $link_ext_index }}

{{/* if url ends with .pdf or contains http */}}
{{ if or (eq $link_ext "pdf") (strings.HasPrefix .Destination "http") }}
  <a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>
{{ else }}
  <a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{ end }}