$red: #DC0814;
$gray-logo: #6D6467;
$gray-text: #484747;

$mw: 1920px; // max-width
$cw: 1240px; // content max-width

$su: 20px; // spacing-unit

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('../assets/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/subset-Poppins-Regular.woff2') format('woff2'),
        url('../assets/fonts/subset-Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/subset-Poppins-ExtraLight.woff2') format('woff2'),
        url('../assets/fonts/subset-Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
    unicode-range:U+0020-007F,U+00A0-00FF;
}

*:focus,
*:focus-visible {
    outline:1px dashed $red;
}


@import 'partials/_reset';
@import 'partials/_mixins';
@import 'partials/_animations';
@import 'partials/_layout';
@import 'partials/_typo';
@import 'partials/_header';
@import 'partials/_nav';
@import 'partials/_footer';
@import 'partials/_home';
@import 'partials/_single';
@import 'partials/_modules';
@import 'partials/_creations';