{{ define "main" }}

{{ $sectionPage := .Site.GetPage "section" "realisations" }}

<h1>
    {{ if ne .Page $sectionPage }}<small><a href="{{ $sectionPage.Permalink }}">{{ $sectionPage.Title }}</a></small> {{ end }}
    {{ .Title }}
</h1>


{{ if eq .Page $sectionPage }}
    <div class="realisations-intro tw">
            <h2>De la cuisine au dressing et tous les meubles de rangement</h2>
            <p>NAOS Atelier ne possède pas de limites dans la réalisation de ses projets. Nos artisans confectionnent des meubles sur mesure pour toutes les pièces de votre maison.</p>
            <p>Que vous soyez architecte, entrepreneur ou particulier, nous sommes à l&#39;écoute de votre demande et mettons tout en œuvre pour la réaliser. Nous désirons <strong>donner vie à chaque projet</strong> que vous nous confiez.</p>
            <p>Nous sommes donc présents dans <strong>toutes les pièces de votre maison</strong> , que ce soit pour la conception d&#39;un petit meuble de séjour ou pour l&#39;aménagement complet de votre cuisine.</p>
        
            <p>La particularité de Naos Atelier est l’intégration de l’objet dans son contexte et son adéquation avec la demande du client et/ou de l’architecte.</p>
            <p>La clé de réussite d’un projet est sans conteste le dialogue avec le client dans une approche sur mesure.  C’est également la dimension humaine et artisanale de l’entreprise qui va maintenir un niveau élevé de qualité du produit fini.</p>
            <p>Nous portons un soin tout particulier au choix des matériaux durables et « restaurables » ainsi qu’à la recherche permanente d’innovations renforçant le côté unique de vos projets.</p>
       
    </div>
    <section class="list-categories" aria-label="Catégories">
        {{ range .Sections.ByWeight }}
        <div class="list-categories__item observed {{ if .Params.long }}list-categories__item--long{{ end }}">
            <a class="list-projects__item" href="{{ .Permalink }}">
                <picture>
                    <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400,c_fill{{ .Params.img }}" media="(max-width: 400px)">
                    <img loading="lazy" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ .Params.img }}" alt="" width="620"
                        height="413">
                </picture>
                <h2>{{ .Title }}</h2>
            </a>
        </div>
        {{ end }}
    </section>
{{ else }}
    {{ with .Content }}
        <div class="realisations-intro tw">
            {{ . | safeHTML }}
        </div>
    {{ end }}
    <section class="list-projects" aria-label="Projets">
        {{ $projects := .Pages.ByDate.Reverse }}
        {{ if gt (len $projects) 0 }}
        {{ range $projects }}
        {{- $list := .Params.gallery -}}
        <a class="list-projects__item observed" href="{{ .Permalink }}">
            <picture>
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400{{ index ($list) 0 }}" media="(max-width: 400px)">
                <img loading="lazy" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ index ($list) 0 }}" alt="{{ .Title }}"
                    width="620" height="412">
            </picture>
            {{ $t := .Date }}
            <p class="list-projects__item-txt">{{ .Title }}</p>
        </a>
        {{ end }}
        {{ else }}
        <p>Il n'y a aucun projet correspondant à cette catégorie pour l'instant.</p>
        {{ end }}
        {{ if ne .Page $sectionPage }}
            <div class="tw" style="font-size: 1rem;margin-top:40px">
                <a href="/realisations/" style="font-size: 1rem;">< Voir toutes nos réalisations</a>
            </div>
        {{ end }}
    </section>
{{ end }}

{{ end }}