{{ define "main" }}
{{ $subsection := site.GetPage (printf "/realisations/%s" .Params.categories) }}
{{ $subsectionTitle := $subsection.Title }}
<h1>
    <small><a href="/realisations">Nos réalisations</a> > <a href="/realisations/{{ .Params.categories | urlize }}">{{ $subsectionTitle }}</a></small><br> {{ .Title }} <small>({{ .Date.Format "2006" }})</small>
</h1>

<div class="tw">
    {{ .Content | safeHTML }}
</div>

<div class="gallery" id="gallery">
    <div class="gallery_slider" id="gallery_slider">
        {{ range .Params.gallery }}
        <div class="gallery_item">
            <picture>
                <source srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,q_80,w_800{{ . }}" media="(max-width: 400px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,q_80,w_1240{{ . }}" media="(max-width: 620px)">
                <source srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,q_80,w_1536{{ . }}" media="(max-width: 768px)">
                <img class="gallery_img" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_2480{{ . }}" alt="" width="1240" height="827">
            </picture>
        </div>
        {{ end }}
    </div>
</div>

<div class="tw" style="margin-top:40px">
    {{ $subsectionGender := $subsection.Params.gender }}
    {{ $genderText := "tous" }}
    {{ if eq $subsectionGender "female" }}{{ $genderText = "toutes" }}{{ end }}
    <a href="/realisations/{{ .Params.categories | urlize }}" style="font-size: 1rem;">< Voir {{ $genderText }} les {{ $subsectionTitle | lower }}</a>
</div>
{{ end }}
