{{ define "main" }}
{{ $subsection := site.GetPage (printf "/realisations/%s" .Params.categories) }}
{{ $subsectionTitle := $subsection.Title }}

<h1>
    <small><a href="/realisations">Nos réalisations</a> > <a href="/realisations/{{ .Params.categories | urlize }}">{{ $subsectionTitle }}</a></small> {{ .Title }} <small>({{ .Date.Format "2006" }})</small>
</h1>

<div class="realisations-intro tw">
    {{ .Content | safeHTML }}
</div>

<div class="gallery splide" id="gallery" aria-label="Galerie photo">
    <div class="splide__track">
        <ul class="splide__list unstyled">
            {{ range .Params.gallery }}
                <li class="splide__slide">
                    <a class="gallery_item_img-container unstyled" href="{{ $.Site.Params.cloudinary_url }}/f_auto{{ . }}" data-animation="fade">
                        <picture>
                            <source srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,q_80,w_800{{ . }}" media="(max-width: 400px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,q_80,w_1240{{ . }}" media="(max-width: 620px)">
                            <source srcset="{{ $.Site.Params.cloudinary_url }}/f_auto,q_80,w_1536{{ . }}" media="(max-width: 768px)">
                            <img class="gallery_item_img" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_2480{{ . }}" alt="" width="1240" height="827" loading="lazy" data-high="{{ $.Site.Params.cloudinary_url }}/f_auto{{ . }}">
                        </picture>
                    </a>
                </li>
            {{ end }}
		</ul>
  </div>
</div>

<div class="view-all tw">
    {{ $subsectionGender := $subsection.Params.gender }}
    {{ $genderText := "tous" }}
    {{ if eq $subsectionGender "female" }}{{ $genderText = "toutes" }}{{ end }}
    <a href="/realisations/{{ .Params.categories | urlize }}" style="font-size: 1rem;">< Voir {{ $genderText }} les {{ $subsectionTitle | lower }}</a>
</div>
{{ end }}
