{{ define "main" }}

    {{ $sectionPage := .Site.GetPage "section" "creations" }}

    {{ if .IsAncestor $sectionPage }}
        <h1>{{ .Title }}</h1>
    {{ else }}
        <h1>
            <small><a href="{{ $sectionPage.Permalink }}">{{ $sectionPage.Title }}</a></small><br>
            {{ .Title }}
        </h1>
    {{ end }}

    {{ with .Content }}
        <div class="tw">
            {{ . }}
        </div>
    {{ end }}
    
    <div class="section-pages">
        {{ range .Pages }}
            <div>
                <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                {{ with .Content }}{{ . }}{{ end }}
            </div>
        {{ end }}
    </div>

{{ end }}