{{ define "main" }} {{ $sectionPage := .Site.GetPage "section" "creations" }} {{ if .IsAncestor $sectionPage }}
<h1>{{ .Title }}</h1>
{{ else }}
<h1><small><a href="{{ $sectionPage.Permalink }}">{{ $sectionPage.Title }}</a></small><br>{{ .Title }}</h1>
{{ end }} {{ with .Content }}
<div class="tw">
    {{ . }}
</div>
{{ end }} {{ if .IsAncestor $sectionPage }}
<section class="list-categories" aria-label="Catégories">
    {{ range .Sections.ByWeight }}
    <div class="list-categories__item observed {{ if .Params.long }}list-categories__item--long{{ end }}">
        <a href="{{ .Permalink }}">
            <picture>
                <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400,c_fill{{ .Params.img }}" media="(max-width: 400px)">
                <img loading="lazy" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ .Params.img }}" alt="" width="620" height="412">
            </picture>
            <h2>{{ .Title }}</h2>
        </a>
    </div>
    {{ end }}
</section>
{{ else }}
<section class="list-projects" aria-label="Projets">
    {{ $projects := .Pages.ByDate.Reverse }}
    {{ if gt (len $projects) 0 }} 
        {{ range $projects }}
            {{- $list := .Params.gallery -}}
            <a class="list-projects__item observed" href="{{ .Permalink }}">
                <picture>
                    <source srcset="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_400{{ index ($list) 0 }}" media="(max-width: 400px)">
                    <img loading="lazy" src="{{ $.Site.Params.cloudinary_url }}f_auto,q_80,w_620{{ index ($list) 0 }}" alt="{{ .Title }}" width="620" height="412">
                </picture>
            </a>
        {{ end }}
    {{ else }}
        <p>Il n'y a aucun projet correspondant à cette catégorie pour l'instant.</p>
    {{ end }}
</section>
{{ end }} {{ end }}