{{ define "main" }}
	<h1>
		<small><a href="/creations">Nos créations</a> > <a href="/creations/{{ .Params.categories }}">{{ .Params.categories }}</a></small><br>
		{{ .Title }} <small>({{ .Date.Format "2006" }})</small>
	</h1>
	
	<div class="tw">
		{{ .Content }}
	</div>

	<div class="gallery" id="gallery">
		<div class="gallery_slider">
			{{ range .Params.gallery }}
				<div class="gallery_item">
					<picture>
						<source srcset="/assets/dest/400{{ . }}" media="(max-width: 400px)">
						<source srcset="/assets/dest/620{{ . }}" media="(max-width: 620px)">
						<source srcset="/assets/dest/768{{ . }}" media="(max-width: 768px)">
						<img class="gallery_img" src="/assets/dest/1240{{ . }}" alt="" width="1240" height="827">
					</picture>
				</div>
			{{ end }}
		</div>
	</div>
{{ end }}

