{{ define "main" }}
	<h1>
		<small><a href="/creations">Nos créations</a> > <a href="/creations/{{ .Params.categories }}">{{ .Params.categories }}</a></small><br>
		{{ .Title }} <small>({{ .Date.Format "2006" }})</small>
	</h1>
	
	{{ .Content }}

	<div class="gallery">
		<div class="gallery_slider">
			{{ range .Params.gallery }}
				<div class="gallery_item">
					<img class="gallery_img" src="/assets/uploadsOut/{{ . }}">
				</div>
			{{ end }}
		</div>
		<button class="gallery_btn prev" title="Image précédente"> < </button>
		<button class="gallery_btn next" title="Image suivante"> > </button>
	</div>
{{ end }}

