<!DOCTYPE html>
<!-- TRAVIS IS OK -->
<html lang="{{ $.Site.LanguageCode }}">

<head>
    <meta charset="utf-8">
    <meta name="language" content="{{ .Site.LanguageCode }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>
        {{ if .IsHome }}{{ $.Site.Data.contact.homepage_title }}{{ else }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ if .Params.categories }}{{ $cat := .Params.categories }}{{ $name := $.Site.GetPage (printf "/realisations/%s" $cat) }}{{ $name.Title }} | {{ end }}Naos Atelier{{ end }}
    </title>
    <meta name="author" content='{{ .Site.Params.Author }}' />
    <meta name="description" content='{{ with .Content }}{{ . | truncate 158 }}{{ else }}{{ $.Site.Data.contact.description }}{{ end }}' />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ if .IsHome }}{{ $.Site.Data.contact.homepage_title }}{{ else }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ if .Params.categories }}{{ $cat := .Params.categories }}{{ $name := $.Site.GetPage (printf "/realisations/%s" $cat) }}{{ $name.Title }} | {{ end }}Naos Atelier{{ end }}" />
    <meta property="og:description" content='{{ with .Content }}{{ chomp . | truncate 158 }}{{ else }}{{ $.Site.Data.contact.description }}{{ end }}' />
    <meta property="og:image" content="{{ if .Params.img }}{{ $.Site.Params.cloudinary_url }}{{ .Params.img }}{{ else if .Params.gallery }}{{ $list := .Params.gallery }}{{ $.Site.Params.cloudinary_url }}{{ range first 1 $list }}{{ . }}{{ end }}{{ else }}{{ .Site.BaseURL }}assets/img/naos-atelier-Ref_FB.jpg{{ end }}"
    />
    <meta property="og:site_name" content="{{ .Site.Title }}" /> {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js") | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" type="text/css" href="{{ $style.Permalink | relURL }}">
    {{ partial "site-favicon.html" . }}
    {{ if .IsHome }}{{ partial "home-snippet.html" . }}{{ end }}
    {{ if .IsHome }}<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{{ end }}
</head>

<body id="root" class="{{ with .IsHome }}home{{ else }}single{{ end }}{{ with .Params.slug }} {{ . }}{{ end }}{{ if eq .Page.Section "realisations" }} realisations{{ end }}">
    <div class="site-wrapper">
        {{ partial "site-header.html" .}}
        <main class="site-main {{ if ne .IsHome true }}main-single{{ else }}main-home{{ end }}" id="site-main">{{ block "main" . }}{{ end }}</main>
        {{ partial "site-footer.html" . }}
    </div>
    {{ partial "site-scripts.html" . }}
</body>

</html>
