<header class="site-header">
	<div class="site-header__wrapper">
		<a class="site-logo" href="/">
			<img src="{{.Site.BaseURL}}assets/img/samana-logo.svg" alt="Logo de Samana" title="Samana le souffle" width="229" height="14">
		</a>
		<button id="site-nav-btn" name="menu" aria-expanded="false"><span id="site-nav-btn__icon">☰</span> Menu</button>
		<nav class="site-nav" id="site-nav">
			<a class="site-nav__link" href="/chloe-dujardin">Chloé Dujardin</a>
			<a class="site-nav__link" href="/yoga">Yoga</a>
			<a class="site-nav__link" href="/meditation">Méditation</a>
			<a class="site-nav__link" href="/agenda">Agenda</a>
			<a class="site-nav__link" href="/contact">Contact</a>
		</nav>
		<a class="stay-connected" href="#site-footer">
			<img src="{{.Site.BaseURL}}assets/img/stay-connected_icon.svg" alt="" width="29" height="28">
			<span>Restez connecté·e·s</span>
		</a>
	</div>
</header>