{{ define "main" }}

    <section class="home-intro cw">
        <h1>{{ .Title }}<br>
            <span>{{ .Params.subtitle | safeHTML }}</span>
        </h1>
        <p class="tw">{{ .Content | plainify }}</p>
        <p class="more-info">Plus d'infos</p>
    </section>

    <section class="home-blocks cw">
        {{ range .Params.blocks }}
            <a class="home-block" href="/{{ .link }}">
                <div class="home-block__title-container">
                    <h2>{{ .title }}</h2>
                </div>
                <picture>
                    <source srcset="/assets/uploadsOut/400{{ .img }}" media="(max-width: 400px)">
                    <img src="/assets/uploadsOut/620{{ .img }}" alt="" width="620" height="412">
                </picture>
            </a>
        {{ end }}
    </section>
    
{{ end }}