.creations {

	h1 {
		margin-bottom:$su*1.5;

		small {
			font-size:50%;
		}
	}
}

.list-categories {
	margin:$su*3 auto;
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	@media screen and (min-width:768px) {
		justify-content: space-between;
	}
}

.list-categories__item {
	width:100%;
	position: relative;
	margin-bottom:$su*2;
	line-height: 1;
	display:block;
	flex:0 0 100%;

	@media screen and (min-width:768px) {
		flex:0 0 calc(50% - #{$su});
		align-items: stretch;

		&:nth-of-type(2n) {
			margin:$su*1.5 0 0 0;
		}
	}

	@media screen and (min-width:1280px) {
		flex:0 0 calc(50% - #{$su*2});
	}

	&:nth-of-type(2n) {
		
		h2 {
			text-align:left;
			right:0;
		}
	}

	a {
		display: block;
		line-height: 0;
	
		&:hover, &:focus {
			background: none;

			h2 {
				width:60%;

				@media screen and (min-width:1024px) {
					width:50%;
				}
			}

			picture {

				&:after {
					opacity:0.5;
				}
			}
		}
	}

	picture {
		display:block;
		margin-top:1.25em;

		&:after {
			content:'';
			display: block;
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background:$red;
			mix-blend-mode:darken;
			opacity:0;
			transition:opacity 150ms ease-out;
		}
	}

	img {
		width: 100%;
		height:auto;
	}

	h2 {
		position: absolute;
		top:-0.9em;
		background-color:$red;
		width:80%;
		margin:0;
		text-align: right;
		@include ff-r;
		font-size:1.4rem;
		color:white;
		padding:0.25em 0.4em;
		transition:width 150ms ease-out;

		@media screen and (min-width:380px) {
			font-size:1.6rem;
		}

		@media screen and (min-width:768px) {
			font-size:1.4rem;
		}

		@media screen and (min-width:1024px) {
			font-size:1.6rem;
			width:60%;
		}
	}
}

.list-projects {
	display:flex;
	flex-wrap: wrap;
	align-items:flex-start;
	justify-content: flex-start;
}

.list-projects__item {
	flex: 0 0 100%;
	margin:0 0 $su 0;
	line-height: 0;
	display: block;
	position: relative;
	overflow:hidden;

	@media screen and (min-width:768px) {
		flex:0 0 50%;
		margin:0;
	}

	&:before {
		content: "+";
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		color:white;
		background:$red;
		width:40px;
		height:40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 32px;
		opacity:0;
		transition: opacity 150ms ease-out;
		z-index:2;
	}

	&:after {
		content:'';
		display:block;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:$red;
		background:rgba(220, 8, 20, 0.3);
		opacity:0;
		transition: opacity 150ms ease-out;
		z-index:1;
	}

	img {
		display: block;
		width:100%;
		height:auto;
		transition: filter 150ms ease-out, transform 150ms ease-out;
	}

	&:hover, &:focus {
		
		&:before {
			opacity:1;
		}

		&:after {
			opacity:1;
		}

		img {
			filter:blur(1px);
			transform: scale(1.1);
		}
	}
}

.gallery {
	position: relative;
	width:100%;
	margin-top:$su*2;
}

.gallery_slider > div {
	display:flex;
	align-items:center;
}

.gallery_item {
	display:flex;
	justify-content: center;
}

.gallery_img {
	width:auto;
	height:auto;
	max-height:80vh;
}


.gallery_btn {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	background:white;
	width:30px;
	height:30px;
	background:$red;
	color:white;
	border: none;
	font-size:28px;
	border:1px solid $red;
	transition:background-color 150ms ease-out, color 150ms ease-out;

	@media screen and (min-width:400px) {
		width:40px;
		height:40px;
		font-size:32px;
	}

	&.prev {
		left:0;
	}

	&.next {
		right:0;
	}

	&:hover, &:focus {
		cursor:pointer;
		background:white;
		color:$red;
	}
}