/*
* FOOTER
*/

.site-footer {
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;
    padding: $su $su/2 $su*1.5;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        padding: $su $su $su*1.5;
    }
    body.open & {
        display: none;
    }
    h1,
    .single & h1,
    .home & h1 {
        font-size: 1.2rem;
        margin: 0 auto 0.25em;
        width: 100%;
        @include ff-r;
    }
    address,
    a {
        display: block;
    }
    address {
        font-style: normal;
        display: inline;
    }
    >a {
        white-space: nowrap;
        margin-left: 1em;
        position: relative;
        &:before {
            content: '•';
            display: inline-block;
            left: -0.65em;
            position: absolute;
        }
    }
    .site-footer__signature {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0.3em;
        a {
            display: inline-block;
        }
    }
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 14rem;
        height: 1px;
        background-color: #dc0814;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }
}

#top-btn {
    position: fixed;
    right: $su;
    bottom: $su;
    opacity: 0;
    font-size: 32px;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid;
    display: block;
    text-align: center;
    padding: 0.2em;
    transition: color 150ms ease-out, background-color 150ms ease-out, opacity 150ms ease-out;
    &.visible {
        opacity: 0.7;
        &:hover,
        &:focus {
            background-color: $red;
            color: white;
            border-color: $red;
            opacity: 1;
            cursor: pointer;
        }
        &:active {
            opacity: 0.7;
        }
    }
}