/*
* FOOTER
*/

.site-footer {
    font-size:0.8rem;
    text-align: center;
    margin-top:$su*4;
    margin-bottom:$su;
    position: relative;

    address {
        font-style: normal;
        display:inline;
    }
}

#top-btn {
    position: absolute;
    right: $su;
    bottom: 0;
    font-size: 1.4rem;
    background: white;
    border-radius: 50%;
    padding: 0 0 0.2em 0;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid;
    transition:color 150ms ease-out, background-color 150ms ease-out;

    &:hover, &:focus {
        background-color:$red;
        color:white;
        border-color:$red;
    }

    &:active {
        opacity:0.7;
    }
}
