/*
* HEADER
*/

.site-header {
    margin-bottom:$su*4;
    box-shadow: -2px 5px 6px -3px lightgray;
    margin-top:0;
    padding-top:$su/2;
    padding-bottom:$su/2;
    padding-left:$su/2;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background: white;

    @media screen and (min-width: 768px) {
        padding:$su;
    }

    @media screen and (min-width:1240px) {
        padding-right:$su*2;
        padding-left:$su*2;
    }
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    background:none;
    height:auto;
    line-height: 1;

    &:hover, &:focus-visible {
        .site-logo__img {
            transform: scale(1.03) translate(-3px, -2px);
            filter: drop-shadow(3px 2px 2px rgba(0,0,0,0.2));
        }
    }
}

.site-logo__img {
    height:auto;
    transition: all 150ms ease-out;
    
    @media (max-width:767px) {
        max-width:146px;
    }
}