/*
* HEADER
*/

.site-header {
    margin-bottom:$su*4;
    box-shadow: -2px 5px 6px -3px lightgray;
    margin-top:0;
    padding-top:$su/2;
    padding-bottom:$su/2;
    padding-left:$su/2;

    @media screen and (min-width: 768px) {
        padding-top:$su;
        padding-bottom:$su;
        padding-left:$su/2;
    }
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    opacity:1;
    transition:opacity 150ms ease-in;
    background:none;
    height:auto;
    line-height: 1;
    
    &:hover, &:focus {
        opacity:0.7;
    }
    
    img {
        max-width:140px;
        height:auto;
        
        @media screen and (min-width:768px) {
            max-width: 240px;
        }
    }
}