/*
* HEADER
*/

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:$su*4;
}

.site-logo {
    opacity:1;
    transition:opacity 150ms ease-in;
    background:none;
    height:auto;
    line-height: 1;
    
    &:hover, &:focus {
        opacity:0.7;
    }
    
    img {
        max-width:120px;
        
        @media screen and (min-width:768px) {
            max-width:180px;
        }
    }
}