.home {

    h1 {
        font-size: 2.2rem;

        span {
            display: block;
            max-width: 24em;
            margin-top:$su;
            line-height: 1.25;
            font-size: 1.3rem;
            font-weight: 400;
        }
    }
}

.home-intro {
    position: relative;
}

.home .last-projects {
    margin-top: $su*2;
}

.home .list-projects {
    margin-bottom:$su*2;
}

