
::selection {
	color:white;
	background-color: $red;
}

html {
    scroll-behavior: smooth;
    min-height:100%;
}

body {
    @include ff-r; 
    font-weight:400;
    line-height:1.5;
    min-height:100vh;
    background-color: white;
    color:$gray-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    &.open {
        overflow:hidden;
    }
}

body * {
    box-sizing: border-box;
}

.site-wrapper {
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

#site-main {
    position:relative;
    display: flex;
    flex-direction: column;
    min-height:100%;
    margin:130px auto $su*9 auto;
    padding-right:$su*1.5;
    padding-left:$su*1.5;
    
    @media (min-width:768px) {
        margin-top:160px;
    }

    @media (min-width:1240px) {
        padding-right:$su*4;
        padding-left:$su*4;
    }

    body.open & {
        z-index:-2;
    }
}

//content width
.cw {
    width:100%;
    max-width:$cw;
    margin-right:auto;
    margin-left:auto;
}

//text width
.tw {
    max-width: 56ch;
    width:100%;

    @media (min-width:768px) {
        columns: 2;
        column-gap: $su*2;
        column-fill: balance;
        max-width: 100%;

        & :first-child {
            margin-top: 0;
        }

        h2 {
            column-span: all;
        }

        h2 + * {
            margin-top: 0;
        }

        > * {
            break-inside: avoid;
        }
    }
}

.flex-2-cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding:0;
    max-width: $cw;
    margin-right:auto;
    margin-left:auto;

    @media (min-width:980px) {
        flex-direction:row;
        justify-content: space-between;
    }
}

.flex-2-cols__col {
    width:100%;

    @media (min-width:980px) {
        width:calc(50% - #{$su});
        
        &:first-of-type {
            margin-right:$su*2;
        }
    }

    img {
        width:100%;
        height:auto;
    }
}

.two-cols {
    display:grid;
    grid-template-columns: 1fr;
    gap:$su;
    
    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr;
        gap:$su*2;
    }

    .col {
        > * {
            margin:0;
        }
        > * + * {
            margin-top:$su;
        }
    }
}
