
::selection {
	color:white;
	background-color: $red;
}

html {
    scroll-behavior: smooth;
    min-height:100%;
}

body {
    @include ff-r; 
    font-size:18px;
    font-weight:400;
    line-height:1.5;
    min-height:100vh;
    background-color: white;
    color:$gray-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    @media screen and (min-width: 460px) {
        font-size:20px;
    }

    @media screen and (min-width: 980px) {
        font-size:22px;
    }

    &.open {
        overflow:hidden;
    }
}

body * {
    box-sizing: border-box;
}

.site-wrapper {
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

#site-main {
    position:relative;
    min-height:100%;
    margin:0 auto $su*9 auto;
    padding-right:$su/2;
    padding-left:$su/2;
    
    @media screen and (min-width:768px) {
        padding-right:$su/2;
        padding-left:$su/2;
    }

    body.open & {
        z-index:-2;
    }

    body.single & {
        max-width: $cw;
    }
}

//max width
.mw {
    width:100%;
    max-width:$mw;
    margin-right:auto;
    margin-left:auto;
}

//content width
.cw {
    width:100%;
    max-width:$cw;
    margin-right:auto;
    margin-left:auto;
}

//text width
.tw {
    max-width: 28em;
    width:100%;
}

.flex-2-cols {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: $mw;
    padding:0;
    max-width: $cw;
    margin-right:auto;
    margin-left:auto;

    @media screen and (min-width:980px) {
        flex-direction:row;
        justify-content: space-between;
    }
}

.flex-2-cols__col {
    width:100%;

    @media screen and (min-width:980px) {
        width:calc(50% - #{$su});
        
        &:first-of-type {
            margin-right:$su*2;
        }
    }

    img {
        width:100%;
        height:auto;
    }
}
