/*
* MIXINS
*/

@mixin ff-r {
    font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:normal;
} 

@mixin ff-l {
    font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200; 
} 

@mixin ff-b {
    font-family: "Poppins","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold; 
}