/*
* MODULES
*/

a {
    text-decoration: none;
    color: $red;
    position: relative;
    opacity:1;
    background-image: linear-gradient($red 0%, $red 100%);
    background-repeat: no-repeat;
    background-size: 0% 1px;
    background-position: 0 99%;
    transition: background-size 150ms ease-out;

    &:hover, &:focus {
        background-size: 100% 1px;
    }

    &:active {
        opacity:0.7;
    }
}

.button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display:inline-block;
    position:relative;
    padding:0.5em;

    &:after {
        content:'';
        display:block;
        height:1px;
        width:100%;
        background-color: currentColor;
        bottom:0;
        opacity:1;
        transition: opacity 200ms ease-out;
    }

    &:hover, &:focus {

        &:after {
            opacity: 0;
        }
    }
}

img {
    max-width: 100%;
    height:auto;
}

picture {
    display:block;
}

.observed {
    opacity:0;
    transform:translateY(40px);
    transition:all 300ms ease-out;

    &.is-visible {
        opacity:1;
        transform:translateY(0px);
    }
}

.hide {
    display:block;
    position: absolute;
    left:-99999px;
    clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}