.site-nav {
    width:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    overflow: hidden;
    opacity:0;
    transition:opacity 200ms ease-out;
    
    body.open & {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height:100vh;
        z-index:20;
        background:white;
        opacity: 1;
    }
    
    @media screen and (min-width: 768px) {
        display:flex;
        transform:none;
        width:auto;
        margin-left:$su*2;
        opacity:1;
    }
}

#site-nav-btn {
    background: none;
    text-transform: uppercase;
    border: none;
    color: $gray-logo;
    transition: opacity 200ms ease-out;
    margin-left: auto;
    line-height: 1;
    font-family: poppins,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: content-box;
    width: 34px;
    height: auto;

    &__img {
        width:100%;
        height:auto;
    }

    .site-nav-btn__img__color {
        transition:stroke 200ms ease-out;
    }

    &:hover, &:focus {
        opacity:0.7;
        cursor:pointer;

        .site-nav-btn__img__color {
            stroke:$red;
        }
    }

    @media screen and (min-width:768px) {
        display:none;
    } 

    body.open & {
        z-index:21;
    }
}

.site-nav__link {
    @include ff-l;
    color:$gray-text;
    margin:0;
    padding:1em;
    text-transform: uppercase;
    background:none;
    display:block;
    width:7.2em;
    text-align: center;
    font-size: 1.2rem;
    transition: opacity 200ms ease-out, color 200ms ease-out;

    body.open & {
        width:100%;
        text-align: center;
    }

    span {
        display:inline-block;
        position: relative;
    }

    span:before {
        content: '';
        display: block;
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        background-image: url(../assets/img/naos-fleche.svg);
        background-repeat: no-repeat;
        left: -1.2em;
        top: 50%;
        transform: translateY(-50%);
        opacity:0;
        transition:opacity 150ms ease-in;
    }

    &:hover, &:focus {
        color:$red;

        span:before {
            opacity:1;
        }
    }

    &:active {
        opacity:0.7;
    }

    $pages: creations atelier contact;

    @each $page in $pages {
        body.#{$page} &[href="/#{$page}"] {
            @include ff-r;
            color:$red;

            span:before {
                opacity: 1;
            }
        }
    }

    body.accueil &[href="/"] {
        @include ff-r;
        color:$red;

        span:before {
            opacity:1;
        }
    }

    @media screen and (min-width:980px) {
        font-size: 1.4rem;
    }
}
