.site-nav {
    width:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    opacity:0;
    transition:opacity 200ms ease-out;
    overflow: hidden;
    position:relative;
    z-index:5;
    
    body.open & {
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        position: absolute;
        top:0;
        left: 0;
        width:100%;
        height:100vh;
        z-index:20;
        background:white;
        opacity: 1;
        position: fixed;
    }
    
    @media screen and (min-width: 768px) {
        display:flex;
        transform:none;
        width:auto;
        margin-left:$su*2;
        opacity:1;
        overflow:visible;
    }
}

#site-nav-btn {
    background: none;
    text-transform: uppercase;
    border: none;
    color: $gray-logo;
    transition: opacity 200ms ease-out;
    margin-left: auto;
    line-height: 1;
    font-family: poppins,helvetica neue,Helvetica,Arial,sans-serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 1em;
    box-sizing: content-box;
    width: 34px;
    height: auto;

    &__img {
        width:100%;
        height:auto;
    }

    .site-nav-btn__img__color {
        transition:stroke 200ms ease-out;
    }

    &:hover, &:focus {
        opacity:0.7;
        cursor:pointer;

        .site-nav-btn__img__color {
            stroke:$red;
        }
    }

    @media screen and (min-width:768px) {
        display:none;
    } 

    body.open & {
        z-index:21;
        position:fixed;
        right:0;
    }
}

.site-nav__link {
    display:block;
    @include ff-l;
    color:$gray-text;
    margin:0;
    padding:1em;
    text-transform: uppercase;
    background:none;
    width:7.2em;
    text-align: center;
    font-size: 1.2rem;
    transition: opacity 200ms ease-out, color 200ms ease-out;

    @media screen and (min-width:768px) {
        font-size:1.1rem;
    }

    @media screen and (min-width:800px) {
        font-size:1.2rem;
    }

    body.open & {
        width:100%;
        text-align: center;
    }

    span {
        display:inline-block;
        position: relative;
    }

    span:before {
        content: '';
        display: block;
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        background-image: url(../assets/img/naos-fleche.svg);
        background-repeat: no-repeat;
        left: -1.2em;
        top: 50%;
        transform: translateY(-50%);
        opacity:0;
        transition:opacity 150ms ease-in;
    }

    &:hover, &:focus {
        color:$red;
        outline:0;

        span:before {
            opacity:1;
        }
    }

    &:active {
        opacity:0.7;
    }

    $pages: creations atelier contact;

    @each $page in $pages {
        body.#{$page} &[href="/#{$page}"] {
            @include ff-r;
            color:$red;

            span:before {
                opacity: 1;
            }
        }
    }

    body.home &[href="/"] {
        @include ff-r;
        color:$red;

        span:before {
            opacity:1;
        }
    }

    @media screen and (min-width:980px) {
        font-size: 1.4rem;
    }
}

.site-nav__container {
    position:relative;

    @media screen and (min-width:768px) {

        &:hover, &:focus {
    
            .site-nav__submenu {
                opacity:1;
                overflow: visible;
                height:auto;
            }
        }
    }
}

.site-nav__submenu {
    opacity:0;
    height:0;
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 5px 0 0 0;
    left: 5px;
    top:50px;
    background-color:white;
    background-color:rgba(255,255,255,0.9);
    transition:opacity 150ms ease-out;

    @media screen and (min-width:768px) {
        box-shadow: -2px 10px 22px -13px gray;
    }

    li {
        display:block;
        text-align: left;
        padding:0 20px;

        &:before {
            content:'';
            display:none;
        }
    }

    a {
        padding:0.5em 0;
        background-position: 0 80%;
        @include ff-l;
        text-transform: uppercase;
        box-sizing: content-box;
    }
}