.realisations {

	#site-main {
		
		@media (min-width:1240px) {
			display:grid;
			grid-template-columns: 1fr 1fr 1fr;
			gap: 0 $su*2;
			max-width: 2000px;
		}
		
		h1 {
			grid-column: 1 / -1;
			grid-row-start: 1;
	
			small {
				display: block;
				line-height: 1.4;
				font-size:60%;
			}
		}
	}

}

.realisations.realisations-home {

	#site-main {
		
		@media (min-width:1240px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.list-projects.list-categories {
    grid-column: 1 / -1;
		display:grid;
		
		@media (min-width:768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width:1240px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width:1600px) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.list-projects__item--txt {
		align-self: center;
		display: grid;
		place-content: center;

		@media (min-width:768px) {
			padding-inline:$su;
		}
	}
}

@for $i from 1 through 10 {
	.list-projects.list-categories > *:nth-child(#{$i}) {
		order: $i;
	}
}

@media (min-width:1240px) and (max-width:1599px) {

	@for $i from 1 through 3 {
		.list-projects.list-categories .list-projects__item--txt:nth-of-type(#{$i}) {
			order: $i - 1;
		}
	}
}


.realisations-intro {
	grid-column-end:  -1;
	grid-row-start: 2;
	text-align: justify;
	hyphens:auto;

	@media (min-width:1240px) {
    align-self: start;
		columns: unset;
		position: sticky;
    top: 160px;
		max-width: 48ch;
	}
}

.list-projects {
	grid-column: 1 / span 2;
  grid-row-start: 2;
	display:grid;
	gap:10px;
	margin-top:$su*2;

	@media (min-width:900px) {
		grid-template-columns: 1fr 1fr;
	}

	@media (min-width:1240px) {
		margin:0;
	}
}

.home .list-projects.list-categories {
	grid-template-columns: 1fr;
	align-content: baseline;
	align-items: flex-start;

	@media (min-width:480px) {
		grid-template-columns: 1fr 1fr;
	}
	
	@media (min-width:900px) {
		grid-column: 1 / span 3;
		grid-template-columns: 1fr 1fr 1fr;
	}

	> div {
		align-self: flex-start;
		padding-inline:$su/2;
		grid-column: 1/-1;

		@media (min-width:900px) {
			grid-column: span 1;
		}

		p {

			@media (min-width:900px) {
				padding-inline:$su/2;
			}

			&:first-child {
				margin-top:$su/2;
			}
		}
	}
}

.list-projects__item {
	line-height: 0;
	position: relative;
	overflow:clip;

	&:before {
		content: "+";
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		color:white;
		background:$red;
		width:40px;
		height:40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 32px;
		opacity:0;
		transition: opacity 150ms ease-out;
		z-index:2;
	}

	&:after {
		content:'';
		display:block;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:$red;
		background:rgba(220, 8, 20, 0.3);
		opacity:0;
		transition: opacity 150ms ease-out;
		z-index:1;
	}

	img {
		display: block;
		width:100%;
		height:auto;
		transition: filter 150ms ease-out, transform 150ms ease-out;

		.list-categories & {
			aspect-ratio: 1284/1394;
  		object-fit: cover;
		}
	}

	&:hover, &:focus {
		outline:0;

		&:before {
			opacity:1;
		}

		&:after {
			opacity:1;
		}

		img {
			filter:blur(1px);
			transform: scale(1.1);
		}

		.list-projects__item-txt {
			transform: translateY(5em);
		}

	}
}

.list-projects__item-txt {
	position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  width: 100%;
  margin: 0;
  padding: 0.55em;
  color: #484747;
	transition: transform 150ms ease-out;

	.list-categories & {
		font-weight: 400;
	}
}

#gallery {
	grid-column: 1/3;
	
	@media (max-width:1239px) {
		margin-top:$su*2;
		display: grid;
		gap:$su*2;
	}

	&.splide {
		li {
			&:before {
				content:'';
				display:none;
			}
		}
		.splide__arrow {
			background-color: $red;
			border-radius: 0;
			width:44px;
			height:44px;

			svg path {
				fill:white;
			}
		}
	}
}

.gallery_item_img-container {
	width: 100%;
	background: none;
	text-align: center;

	&:hover {
		cursor: zoom-in;
	}
}

.gallery_item_img {
	
	@media (min-width:1240px) {
		width: auto;
		max-width: 100%;
		height: 42vw;
  	max-height: 845px;
	}
}
 
.view-all {
	margin-top:$su*2;
	grid-column: 1 / -1;
}


/*********************************************************/

/* .gallery_item {
	display:flex;
	justify-content: center;
}

.gallery_img {
	width:auto;
	height:auto;
	max-height:80vh;
}

.gallery_btn {
	display:flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	background:white;
	width:30px;
	height:30px;
	background:$red;
	color:white;
	border: none;
	font-size:18px;
	border:1px solid $red;
	transition:background-color 150ms ease-out, color 150ms ease-out;

	@supports (-webkit-touch-callout: none) {
		width:10px;
		height:30px; 
	}

	@media (min-width:400px) {
		width:40px;
		height:40px;
		font-size:32px;
	}

	&.prev {
		left:-5px;
	}

	&.next {
		right:-5px;
	}

	&:hover, &:focus {
		cursor:pointer;
		background:white;
		color:$red;
	}
} */