$heightUnit :15px;
$widthUnit: 120px;

.schedule {
	display:none;
	position:relative;
	width:7.753846 * $widthUnit;
	height:$heightUnit*52;
	margin:0 auto $su*8 auto;
	@include ff-l;
	border:1px solid $green;

	@media screen and (min-width:979px) {
		display:block;
	}
}

.lines {
	width:7.04615384*$widthUnit;
	position: absolute;
	top:4*$heightUnit;
	left:0.692307*$widthUnit;
	padding:0;
	overflow:hidden;

	td {
		padding:0;
		height:$heightUnit;
		border:1px solid lighten($green, 50%);
		border-bottom: none;
		border-right: none;
		border-left: none;
	}
}

.days {
	display:flex;
	position: relative;
	left:0.692307*$widthUnit;
	width:7.05*$widthUnit;
}

.day {
	border-left:1px solid $green;
}

.day__title {
	display:flex;
	align-items: center;
	justify-content: center;
	height:$heightUnit*4;
	margin:0;
	padding:0.5em;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 1rem;
}

.day__schedule, .day__schedule tbody {
	margin:0;
	width:$widthUnit;
	height:$heightUnit*47.933333;
	position:relative;
}

.day__hours {
	margin-top:$heightUnit*4;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:7.746153 * $widthUnit;

	.hour {
		display:flex;
		padding:0.5em;
		align-items:center;
		justify-content: center;
		height:4 * $heightUnit;
		
		.hour__text {
			position:absolute;
			left:0;
			border:none;
			width:0.6923*$widthUnit;
		}
	}
}

.hour {
	display:block;
	height:$heightUnit;
	border-top: 1px solid $green;
	margin:0;

	&:before {
		display: none;
	}
}

.day__block {
	position:absolute;
	width:100%;

	&.adultes td {
		background:#F4E9E6;
	}

	&.enfants td {
		background:#C2DBDE;
	}

	&.ados td {
		background:#EFD58A;
	}

	td {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding:0;
		border:none;
	}

	> * {
		line-height:1.4;
	}

	span, small {
		display:block;
		@include ff-i;
	}

	span {
		font-size:0.9rem;
	}

	small {
		font-size:0.8rem;
	}
}

.schedule-mobile {
	margin-bottom:$su*8;
	display: flex;
	flex-direction: column;

	@media screen and (min-width:480px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@media screen and (min-width:1000px) {
		display:none;
	}
}

.schedule-mobile__item {
	margin-bottom:$su*2;

	@media screen and (min-width:480px) {
		width:45%;
		margin-right:2.5%;
		margin-left:2.5%;
	}
}

.schedule-mobile__title {
	margin:0 0 $su 0;
	text-transform: uppercase;
	@include ff-l;
	text-align: center;
	font-size: 1.6rem;
}

.schedule-mobile__block {
	margin-bottom:$su;
	padding:0.5em;
	text-align: center;

	&.adultes {
		background:#F4E9E6;
	}

	&.enfants {
		background:#C2DBDE;
	}

	&.ados {
		background:#EFD58A;
	}

	p {
		margin:0;
	}

	span, small {
		line-height: 1.2;
	}
}

.schedule-mobile__block__subtext {
	font-size: 80%;
}