.single {

	h1 {
		margin:$su*2 0;
	}
}

.contact {
	
	#site-main {
		
		address {
			font-style: normal;
			margin:1em 0;
	
			pre, code {
				@include ff-r;
				font-size: 1rem;
			}
		}
	}
}

.contact-map {
	width:100%;
	margin-top:$su*2;
}