.single {

	h1 {
		margin:$su*2 0;
		font-size: 2rem;
		color:$gray-logo;
	}
}

.atelier {
	
	h2 {

		@media screen and (min-width:768px) {
			text-align: center;
		}
	}
}

.atelier-img {
	position:relative;
	margin:$su*2 0 $su*8 0;
	display:flex;
	flex-direction: column;

	picture {
		order:2;
		margin:$su 0;

		@media screen and (min-width:768px) {
			margin:0;
		}
	}

	p {
		display: block;
		margin:0;
		max-width:100%;
		
		@media screen and (min-width:768px) {
			background-color:$red;
			background-color:rgba(220,8,20,0.8);
			background-blend-mode: multiply;
			color:white;
			padding:0.8em 1em;
			position:absolute;
			font-size: 1.2rem;
			max-width:27em;
		}
	}

	p:first-of-type {
		order:1;
		top:$su*2;
		left:$su*2;
	}

	p:nth-of-type(2) {
		order:3;
		bottom:$su*2;
		right:$su*2;
	}
}

.team {
	margin-top:$su*4;

	h2 {
		margin-top: $su*4;
		margin-bottom:$su*2;
	}
}

.team__text {
	margin:0 auto $su*2 auto;

}

.team__members {
	display:grid;
	grid-template-columns: repeat( auto-fit, minmax(310px, 1fr) );
	justify-content: center;
	gap: $su*2 $su;
	margin:$su*2.5 0;

	li {
		position:relative;
		//max-width: 12.5%;
		justify-content: center;
		margin:0;
		opacity:0;
		transform:translateY(40px);
		transition:all 150ms ease-out;

		.team.is-visible & {
			opacity:1;
			transform:translateY(0px);
		}
		
		@for $i from 1 through 16 {
			&:nth-child(#{$i}) {
				transition-duration:200 + $i * 50ms ;
			}
		}

		&:hover {
			color:$red;

			figcaption {
				transform:translateY(3px);
			}
		}

		&:before {
			display:none;
		}
	}

	figure {
		display: grid;
		justify-items: center;
		margin:0;
	}

	img {
		width:100%;
		max-width: 400px;
		height:auto;
	}

	figcaption {
		margin-top:0.5em;
		padding:0 $su/2;
		text-align: center;
		@include ff-b;
		font-weight: 200;
		transition:transform 150ms ease-out;
		
		strong {
			text-transform:uppercase;
			font-weight: 400;
		}

		&.no-image {
			margin:$su*2 0;

			@media screen and (min-width:323px) {
				margin: auto 0 0 0;
			}
		}
	}
}

.contact {
	
	h1 {
		margin-top:0;
	}
	
	#site-main {
		
		.contact-title{
			text-transform: uppercase;
			font-size: 1.2rem;
		}

		address {
			font-style: normal;
			margin:1em 0;
			max-width: 12em;
			font-size: 1.2rem;
	
			pre, code {
				@include ff-r;
				font-size: 1rem;
			}
		}
	}
}

img.social-logo {
	width:1em;
	height:1em;
	margin:0 0.25em 0 0.1em;
}

.contact-map {
	width:100%;
	height:96%;
	min-height:280px;
	margin-top:$su*2;

	@media screen and (min-width: 980px) {
		margin-top:0;
	}
}