h1, h2, h3, h4 {
    margin-bottom:0.25em;
    line-height:1.25em;
    font-weight: normal;
    text-transform: uppercase;
    @include ff-b;
}

h1 {
    font-weight: 200;
}

h2 {
    font-size:1.15rem;
    margin-bottom:0.5em;
}

p, ul {
    margin-bottom:1em;
    line-height:1.6;
    font-size:0.95rem;
}

ul {
    padding-left:0;

    li {
        line-height:1.4;
        margin:0.75em 0 0.75em 0;
        position:relative;
        display:flex;
        align-items: baseline;

        &:before {
            content:'- ';
            display:block;
            margin-right:0.5em;
        }

    }
}

.text-underline {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

strong {
    font-weight:bold;
}

.ff-r {
    @include ff-r;
}

.ff-l {
    @include ff-l;
}

.ff-b {
    @include ff-b;
}

.fs-b {
    font-size: 120%;
}
